<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>foreveralone</string>
	<string>fuckyeah</string>
	<string>determined</string>
	<string>foreveralone2</string>
	<string>lol</string>
	<string>megusta</string>
	<string>misc</string>
	<string>pokerface</string>
	<string>troll</string>
	<string>yuno</string>
	<string>watching</string>
	<string>yoming</string>
	<string>challenge</string>
	<string>fap</string>
	<string>foreveralone3</string>
	<string>happy</string>
	<string>derph</string>
	<string>derph2</string>
	<string>retarded</string>
	<string>kid</string>
	<string>nuff</string>
	<string>megusta2</string>
	<string>notsure</string>
	<string>hardcore</string>
	<string>pokerface2</string>
	<string>rage</string>
	<string>rage2</string>
	<string>smile</string>
	<string>spiderpman</string>
	<string>red</string>
</array>
</plist>
